@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    // background: #F3F8FF;
    // background: linear-gradient(54deg, #F3F8FF 35%, #FFFAED 100%);
    overflow-y: auto;
    overflow-x: hidden;
}

#logo{
    width: 120px;
}

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.text-gray{
    color: rgb(97, 97, 97);
}

.text-orange{
    color: #FF9500;
}

.card1{
    background-color: #FEF6EB !important;
}

.card2{
    background-color: #fff;
}

.card3{
    background-color: #FFEBF5;
}

.card4{
    background-color: #EBFFF7;
}



.btn-primary2{
    border-radius: 8px;
    padding: 12px;
    color: white;
    border: none;
    background-color:#FF9500 ;
    width: 160px;
    border-radius: 15px;

    &:hover{
       background-color: #FF9500;
       color: white;
    }
}

.btn-white{
    border-radius: 8px;
    padding: 12px;
    color: #FF9500;
    border: none;
    background-color:#fff ;
    width: 160px;
    border-radius: 15px;

    &:hover{
        background-color:#fff ;
        color: #FF9500;
    }
}

.btn-stroke{
    border-radius: 15px;
    padding: 12px;
    color: #FF9500;
    border: 1.5px solid #FF9500;
    width: 160px;
    background-color:transparent;

    &:hover{
        color: #FF9500;
        border: 1.5px solid #FF9500;
    }
}

#hero-section{
    width: 100%;
    background: #F3F8FF;
    background: linear-gradient(54deg, #F3F8FF 35%, #FFFAED 100%);
    height: 85%;

    .the-hero{
        margin-top: 60px;
        .prompt-text{
            width: 30%;
            background-color: white;
            align-items: center;
            padding: 12px;
            position: relative;
            left: calc(50% - 15%);
            border-radius: 100px;
            .div{
                padding: 6px;
                background-color:#FF9500;
                width: 120px;
                color: white;
                border-radius: 50px;
            }
        }

        .call-to-action{
            justify-content: center;
            align-items: center;

            a{
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.video-hold{
    width: 70%;
    height: 500px;
    background-color: rgb(232, 232, 232);
    position: relative;
    left: calc(50%  - 35%);
    border-radius: 30px;
    margin-top: 50px;
    background-image:url(/img/pics1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-primary3{
        border-radius: 50px !important;
        padding: 12px;
        color: white;
        border: none;
        background-color:#FF9500 ;
        width: 170px;
        border-radius: 15px;
    
        &:hover{
           background-color: #FF9500;
           color: white;
        }
    }
    }

    .tech-skill{
        margin-top: 350px;
        padding: 20px;
    }

    #service{
        .card{
            border: none;
            border-radius: 20px;
            height: 500px;

            .icon-hold{
                width: 80px;
                height: 80px;
                border-radius: 15px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
            }

           
        }

        .card-img1{
            background-image: url(/img/s1.png);
            background-position: center;
            background-size: cover;
            height: 400px;

            .overlay{
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0,0.4);
                backdrop-filter: blur(10px);
                border-radius: 20px;
                overflow: hidden;

                img{
                    scale: 0.8;
                }
                
            }
        }
    }


    /* CSS CODE FOR TESTIMONIALS STARTS HERE*/

    .testimonials-container {
        display: flex;
        gap: 32px;
        max-width: 1200px;
        margin-inline: auto;
        height: 500px;
        width: 100%;
        padding: 24px;
      }
      
      .column {
        height: 100%;
        overflow: hidden;
        mask-image: linear-gradient(
          to bottom,
          transparent 0%,
          black 15%,
          black 85%,
          transparent 100%
        );
      }
      
      .testimonials {
        display: flex;
        flex-direction: column;
        gap: 24px;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      
      .column:hover .testimonials {
        animation-play-state: paused;
      }
      
      .cardi {
        background: #fff;
        padding: 24px;
        border-radius: 16px;
        box-shadow: 0 4px 6px -1px rgba(122, 122, 122, 0.1);
        border: 1px solid rgb(221, 221, 221);
      }
      
      .cardi .profile img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cove;
      }
      
      .cardi .profile {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
      }
      
      .cardi .profile .name {
        font-weight: 600;
        color: #1a1a1a;
      }
      
      .cardi .profile .role {
        font-size: 14px;
        color: #666;
      }
      
      .cardi .content {
        color: #444;
        line-height: 1.5;
      }
      
      .column:nth-child(1) .testimonials {
        animation-name: scrollUp;
        animation-duration: 23s;
      }
      
      .column:nth-child(2) .testimonials {
        animation-name: scrollDown;
        animation-duration: 50s;
      }
      
      .column:nth-child(3) .testimonials {
        animation-name: scrollUp;
        animation-duration: 30s;
      }
      
      @keyframes scrollUp {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(-50%);
        }
      }
      
      @keyframes scrollDown {
        from {
          transform: translateY(-50%);
        }
        to {
          transform: translateY(0);
        }
      }
      
      @media (max-width: 768px) {
        .testimonials-container {
          gap: 16px;
          padding: 16px;
        }
        .column:nth-child(3) {
          display: none;
        }
      
        .column:hover .testimonials {
          animation-play-state: running;
        }
      }
      
      @media (max-width: 640px) {
        .column {
          display: none;
        }
      
        .column:first-child {
          display: block;
        }
      }


    /* CSS FOR TESTIMONIALS ENDS HERE*/

    .newsletter{
        background-color: #FAFAFA;
        border-radius: 20px;

        .letter-hold{
            align-items: center;
            background-color: #fff;
            padding: 15px;
            border-radius: 15px;

            input{
                width: 100%;
                border: none;
                outline: none;
            }
        }
    }

    .cards-3{

        .card1{
            height: 500px;

            .icon-hold{
                margin-top: 40px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }


        .card{
            border: none;
            border-radius: 20px;

        }

        .card4{
          margin-top: 25px;
        }

        .cardii{
            height: 235px;
            .hold-icon{
              width: 70px;
              height: 70px;
              background-color: #fff;
              border-radius: 100px;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;

              img{
                width: 35px;
              }
            }
          
        }
    }

    .banner-section{
      height: 400px;
      background-image: url(/img/banner.png);
      width: 100%;
      background-size: cover;
      background-position: center;
      overflow: hidden;

      img{
        width: 550px;
        position: relative;
        margin-top: 10px;
        left: calc(50% - 275px);
      }
    }

    .footer{
      a{
        text-decoration: none;
        color: rgb(52, 52, 52);
        font-size: 14px;
      }
    }

    .signup-type{
      display:flex;
      align-items: center;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 15px;
      .icon-hold{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(255, 250, 242);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text-content{
        color: black;

        p{
          color: gray;
        }
      }
    }

    @media screen and (max-width:800px){

      .banner-section{
        height: 550px;

        img{
          width: 400px;
          left: calc(50% - 200px);
          margin-top: 50px;
        }
      }

      .cards-3{
        .card3{
          margin-top: 20px;
        }
        .cardii{
          height: 250px;
        }
      }

        .tech-skill{
            margin-top: 270px;
        }

        #hero-section{
            .the-hero{
                margin-top: 20px;
                .prompt-text{
                    width: 100%;
                    left: calc(50% - 50%);
                    scale: 0.8;
                   .div{
                    font-size: 12px !important;
                   }
                   span{
                    font-size: 12px;
                   }
                }
                .hero-text{
                    font-size: 14px;
                }
            }
        }

        .video-hold{
            width: 90%;
            left: calc(50% - 45%);
            height: 300px;
            border-radius: 20px;
            .btn-primary3{
                scale: 0.8;
            }
        }
    }