@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#logo {
  width: 120px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.text-gray {
  color: rgb(97, 97, 97);
}

.text-orange {
  color: #FF9500;
}

.card1 {
  background-color: #FEF6EB !important;
}

.card2 {
  background-color: #fff;
}

.card3 {
  background-color: #FFEBF5;
}

.card4 {
  background-color: #EBFFF7;
}

.btn-primary2 {
  border-radius: 8px;
  padding: 12px;
  color: white;
  border: none;
  background-color: #FF9500;
  width: 160px;
  border-radius: 15px;
}
.btn-primary2:hover {
  background-color: #FF9500;
  color: white;
}

.btn-white {
  border-radius: 8px;
  padding: 12px;
  color: #FF9500;
  border: none;
  background-color: #fff;
  width: 160px;
  border-radius: 15px;
}
.btn-white:hover {
  background-color: #fff;
  color: #FF9500;
}

.btn-stroke {
  border-radius: 15px;
  padding: 12px;
  color: #FF9500;
  border: 1.5px solid #FF9500;
  width: 160px;
  background-color: transparent;
}
.btn-stroke:hover {
  color: #FF9500;
  border: 1.5px solid #FF9500;
}

#hero-section {
  width: 100%;
  background: #F3F8FF;
  background: linear-gradient(54deg, #F3F8FF 35%, #FFFAED 100%);
  height: 85%;
}
#hero-section .the-hero {
  margin-top: 60px;
}
#hero-section .the-hero .prompt-text {
  width: 30%;
  background-color: white;
  align-items: center;
  padding: 12px;
  position: relative;
  left: 35%;
  border-radius: 100px;
}
#hero-section .the-hero .prompt-text .div {
  padding: 6px;
  background-color: #FF9500;
  width: 120px;
  color: white;
  border-radius: 50px;
}
#hero-section .the-hero .call-to-action {
  justify-content: center;
  align-items: center;
}
#hero-section .the-hero .call-to-action a {
  justify-content: center;
  align-items: center;
}

.video-hold {
  width: 70%;
  height: 500px;
  background-color: rgb(232, 232, 232);
  position: relative;
  left: 15%;
  border-radius: 30px;
  margin-top: 50px;
  background-image: url(/img/pics1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-hold .btn-primary3 {
  border-radius: 50px !important;
  padding: 12px;
  color: white;
  border: none;
  background-color: #FF9500;
  width: 170px;
  border-radius: 15px;
}
.video-hold .btn-primary3:hover {
  background-color: #FF9500;
  color: white;
}

.tech-skill {
  margin-top: 350px;
  padding: 20px;
}

#service .card {
  border: none;
  border-radius: 20px;
  height: 500px;
}
#service .card .icon-hold {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#service .card-img1 {
  background-image: url(/img/s1.png);
  background-position: center;
  background-size: cover;
  height: 400px;
}
#service .card-img1 .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  overflow: hidden;
}
#service .card-img1 .overlay img {
  scale: 0.8;
}

@media screen and (max-width: 800px) {
  .tech-skill {
    margin-top: 250px;
  }
  #hero-section .the-hero {
    margin-top: 20px;
  }
  #hero-section .the-hero .prompt-text {
    width: 100%;
    left: 0%;
    scale: 0.8;
  }
  #hero-section .the-hero .prompt-text .div {
    font-size: 12px !important;
  }
  #hero-section .the-hero .prompt-text span {
    font-size: 12px;
  }
  #hero-section .the-hero .hero-text {
    font-size: 14px;
  }
  .video-hold {
    width: 90%;
    left: 5%;
    height: 300px;
    border-radius: 20px;
  }
  .video-hold .btn-primary3 {
    scale: 0.8;
  }
}/*# sourceMappingURL=style.css.map */